// primary styles 

$black: #000;
$charcoal: #3a3a3a;
$white: #fff;
$blue: #0b02ff;
$red: #ff0000;
$orange: #E85E39;
$blue: #326697;

$textBlue: #455260;
$darkPurple: #352931;
$darkBlue: #324251;
$navy: #1f2831;
$darkOrange: #a47c39;
$beige: #D2CBC3;
$lighterGray: #e6e5e5;
$brown: #a47c39;
$buttngray: #f2f2f2;
$bitterblue: #193e9b;
$silver: #959193;
//link hover
$gray: #86939f;

$lightGray: #fcfbfb;